[Unit]
Description=JupyterHub API for UBC Instructors Service
After=network.service jupyter-api.mount

[Service]
WorkingDirectory=/usr/share/jupyter-canvas-api
User=root
Group=root
ExecStart=/usr/bin/python3 /usr/share/jupyter-canvas-api/api-server.py 
Restart=always

[Install]
WantedBy=multi-user.target
