[Unit]
Description=Jupyter Hub Cluster Student Direcory Snapshot Creation and Update Script
Wants=network.service jupyter-rsync.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hourly-rsync.sh
User=root
Group=root

[Install]
WantedBy=multi-user.target
